.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__username
        shige
      %ul.side-header__box__menu
        %ls.side-header__box__edit-user
          = link_to "#" do
            = icon("fas", "edit")
        %ls.side-header__box__new-group
          = link_to "#" do
            = icon("fas", "cog")
  .groups
    = link_to "#", class:"group" do
      .group
        %p.group__groupname
          test
        %p.group__message
          まだメッセージがありません